@use "./global" as *;

.btn {
  padding: 1.5rem 3rem;
  background-color: $btnBg;
  color: $whiteColor;
  font-size: 1.5rem;
  font-family: $font-body;
  border-radius: 50px;
  font-weight: $font-weight-normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: $transition-1;
  text-transform: capitalize;

  @include md {
    margin: 0 auto;
  }

  &:hover {
    background-color: $whiteColor;
    color: $btnBg;
    box-shadow: $shadow-button;
    letter-spacing: 2px;
  }
  .icon {
    transition: $transition-1;
  }

  &:hover .icon {
    color: $btnBg;
    transform: translateX(15px) scale(1.05);
  }
}
